@import "../../../variables.scss";
mat-toolbar{
    z-index: 100;
}
mat-sidenav {
    width: 280px;
}

a{
    text-decoration: none;
}
mat-list-item:hover{
    background-color: $grey-1;
    cursor: pointer;
}
.nav-title{
    color: $primary;
}
mat-sidenav-content{
    position: relative;
}


