<section class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-9">

            <ul class="stack-wrapper">
                <li *ngFor="let item of stack; index as i" [id]="i" (@stackAnim.start)="showTop=false"
                    (@stackAnim.done)="showTop=true" [@stackAnim]="stack" [key]="item.key" class="stack-item">
                    <span class="top" *ngIf="i==0 && showTop">Top 👉</span>
                    {{item.value}}
                </li>
            </ul>

        </div>
        <div class="col-3 aside-menu">
            <!-- aside -->
            <input type="number" step="1" min="0" max="10" [(ngModel)]="item" name="item">
            <button (click)="onClickPop()" mat-button color="primary">pop</button>
            <button (click)="onClickPush()" mat-button color="primary">push</button>
        </div>
    </div>
</section>