@import "/src/variables.scss";

.aside-menu{
    border-left: 1px solid $grey-1;
}

ul{
    list-style: none;
    & li.stack-item{
        display: block;
        width: 200px;
        height: 30px;
        display: grid;
        place-content: center;
        background-color: $accent;
        margin: 1rem;
        border-radius: 10px;
        position: relative;
        &:nth-child(1) .top{
            position: absolute;
            font-size: 1.4rem;
            transform-origin: center;
            top: 20%;
            left: -80%;
        }
    }
}

div.logs-wrapper{
    border-radius: 10px;
    padding: 1rem;
    background-color: $grey-1;
    min-height: 10rem;
    font-size: 0.8rem;
}

div.my-canvas-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-1;
}


